body{
    margin: 10px; 
}
.Logo_img{
margin-top: 6px;
width: 100px;

}

.Header_list{
text-align: end;
width: calc(100% - 160px);
display: inline-block;
vertical-align: top;
margin-top: 5px;
}

.Header_list_item{
display: inline-block;
margin-top: 5px;
padding-right: 50px;

}