header {
  display: flex;
  justify-content: center;
}

body {
  display: inline-block;
  background-color: #0a192f;
  color: #ffff;
  margin: 10px 70px;
  font-size: larger;
  text-align: center;
}

div {
  margin-bottom: 30px;
}

h2 {
  color: #8d8d8d;

}

a {
  font-weight: bolder;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover{
  text-decoration: underline;
  color: rgb(50, 121, 227);
}



.Logo {
  height: 30%;
  width: 30%;
}

.Logo > img{
  height: 100%;
  width: 100%;
}

.div_html > section {
  display: inline-block;
  width: 35%;
  vertical-align: top;
  margin: 0px 32px;
}


.selectors_intro > p{
  display: inline-block;
  margin-top: 40px;
  width: 60%;

}

.selectors > section{
  display: inline-block;
  vertical-align: text-top;
  width: 19%;
}

.selectors > h4 {
  position: relative;
  margin-bottom: 30px;
  display: block;
}

.selectors > div {
  display: block;
  width: 100%;
  margin: 0px 5px;
}
.selectors_Special_styling > section:hover{
background-color: pink;
}

.selectors_Special_styling > div > section:hover{
  background-color: yellow;
  color: black;
  }

.selector_list {
  margin: 5px 0px 60px 0px;
}



.combinators_grouping > div {
  display: flex;
  justify-content: center;
  margin: 0px 15px 0px 20px;
}

.combinators_grouping > div > section{
  margin: 15px 15px 5px 20px;
  width: 35%;
}



.pseudo_Classes_and_box_model{
  display: inline-block;
  width: 60%;
}